<aside class="main-sidebar" [ngStyle]="{'display':styleName1 === 'vexth' ? 'none' : 'inline-block' }">
  <section class="sidebar">
    <div class="user-panel">
      <!-- <div class="pull-left image">
        <img src="../../assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>作者：Vexth</p>
        <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
      </div> --></div>
    <ul class="sidebar-menu">
      <!-- <li class="header">导航树目录</li> -->

      <li [ngClass]="{'active':check == 'A1'}"><a routerLink="/business/A1"><i class="fa fa-circle-o text-red"></i> <span>欢迎页面</span></a></li>

      <li *ngFor="let name of names" class="treeview" [ngClass]="{'active':treemodule == name.check}" >
        <a href="#">
          <i class="fa {{ name.iocn }}"></i> <span>{{ name.name }}</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let child of name.child"  [ngClass]="{'active':check == child.check}">
            {{child.check}}
            <a [queryParams]="child.button" routerLink="{{ child.routerLink }}"><i class="fa {{ child.iocn }}"></i> {{ child.name }}</a>
          </li>
        </ul>
      </li>

      <!-- <li class="treeview" [ngClass]="{'active':treemodule == 'M1'}" >
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>基础设置<模块1</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li [ngClass]="{'active':check == 'M1V1'}"><a routerLink="/business/m1/m1v1"><i class="fa fa-calculator"></i> 表单和表单提交</a></li>
          <li [ngClass]="{'active':check == 'M1V2'}"><a routerLink="/business/m1/m1v2"><i class="fa fa-500px"></i> Flexgrid第一个表格</a></li>
        </ul>
      </li>
      <li class="treeview" [ngClass]="{'active':treemodule == 'M2'}" >
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>权限管理模块2</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">4</span>
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li [ngClass]="{'active':check == 'M2V1'}"><a routerLink="/business/m2/m2v1"><i class="fa fa-circle-o"></i>获取远程数据列表</a></li>
          <li [ngClass]="{'active':check == 'M2V2'}"><a routerLink="/business/m2/m2v2"><i class="fa fa-circle-o"></i>基础数据类别</a></li>
          <li [ngClass]="{'active':check == 'M2V3'}"><a routerLink="/business/m2/m2v3"><i class="fa fa-circle-o"></i>类别详细页面</a></li>
          <li [ngClass]="{'active':check == 'M2V4'}"><a routerLink="/business/m2/m2v4"><i class="fa fa-circle-o"></i>选项 V4</a></li>
        </ul>
      </li>
      <li class="treeview" [ngClass]="{'active':treemodule == 'M3'}" >
        <a href="#">
          <i class="fa fa-pie-chart"></i>
          <span>数据统计模块3</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li [ngClass]="{'active':check == 'M3V1'}"><a routerLink="/business/m3/m3v1"><i class="fa fa-circle-o"></i>第一个D3效果</a></li>
          <li [ngClass]="{'active':check == 'M3V2'}"><a routerLink="/business/m3/m3v2"><i class="fa fa-circle-o"></i>双折线加点</a></li>
          <li [ngClass]="{'active':check == 'M3V3'}"><a routerLink="/business/m3/m3v3"><i class="fa fa-circle-o"></i>选项 V3</a></li>
          <li [ngClass]="{'active':check == 'M3V4'}"><a routerLink="/business/m3/m3v4"><i class="fa fa-circle-o"></i>画中国地图</a></li>
          <li [ngClass]="{'active':check == 'M3V5'}"><a routerLink="/business/m3/m3v5"><i class="fa fa-circle-o"></i>选项 V5</a></li>
          <li [ngClass]="{'active':check == 'M3V6'}"><a routerLink="/business/m3/m3v6"><i class="fa fa-circle-o"></i>选项 V6</a></li>
          <li [ngClass]="{'active':check == 'M3V7'}"><a routerLink="/business/m3/m3v7"><i class="fa fa-circle-o"></i>选项 V7</a></li>
        </ul>
      </li>
      <li class="treeview" [ngClass]="{'active':treemodule == 'M4'}" >
        <a href="#">
          <i class="fa fa-flag"></i> <span>工作量管理模块4</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li [ngClass]="{'active':check == 'M4V1'}"><a routerLink="/business/m4/m4v1"><i class="fa fa-circle-o"></i> 第一个D3效果</a></li>
        </ul>
      </li> -->
    </ul>
  </section>
</aside>

<div class="login-boxCom" [ngStyle]="{'display':styleName1 == 'vexth' ? 'inline-block' : 'none' }">
    <div class="login-box">
      <div class="login-logo">
        <b>工作量管理系统</b>
      </div>
      <p-growl [style]="{'top': '60px'}" [(value)]="msgs" [life]="3000"></p-growl>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg"><b>登录系统</b></p>
  
        <form
        #formRef="ngForm"
        (ngSubmit)="onSubmit(formRef.value)"
        class="show-form"
        >
          <div class="form-group has-feedback">
            <input
            type="text"
            name="username"
            class="form-control"
            placeholder="用户名"
            id="username"
            required
            [(ngModel)]="username"
            [ngModel]="username"
            (ngModelChange)="username = $event"
            #name="ngModel"
            #spy
            >
          </div>
          <div class="form-group has-feedback">
            <input type="password"
            name="password"
            class="form-control"
            placeholder="密码"
            id="password"
            required
            [(ngModel)]="password"
            [ngModel]="password"
            (ngModelChange)="password = $event"
            #pass="ngModel"
            >
          </div>
          <div class="row">
            <div class="col-xs-8">
              <!-- <div  *ngIf="auth?.hasError" style="color:red"><b>{{auth.errMsg}}</b></div> -->
              <!-- <div [hidden]="name.valid || name.pristine" style="color:red">用户名为空</div>
              <div [hidden]="pass.valid || pass.pristine" style="color:red">密码为空</div> -->
              <!-- class="alert alert-danger" -->
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
  
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>