<div class="content-wrapper">

    <app-navigation Showtitle="Flexgrid第一个表格" Subtitle="开始表格" Web="站点" Module="M1模块" Page="Flexgrid第一个表格"></app-navigation>
    <section class="content" id="content">
        <div class="button-content">
            <button type="button" class="btn btn-success" (click)="addClick()">新增行</button>
            <button type="button" class="btn btn-danger" (click)="removeClick()">删除行</button>
        </div>
        <div class="content-item" style="_height:400px;min-height:400px;">
            <div class="tab">
                <span [ngClass]="{'article': username == 'lp'}" (click)="onRenovate('lp')">录排</span>
                <span [ngClass]="{'article': username == 'ht'}" (click)="onRenovate('ht')">画图</span>
                <span [ngClass]="{'article': username == 'tt'}" (click)="onRenovate('tt')">调图</span>
                <span [ngClass]="{'article': username == 'hqzz'}" (click)="onRenovate('hqzz')">后期制作</span>
                <span [ngClass]="{'article': username == 'xxsg'}" (click)="onRenovate('xxsg')">小学书稿</span>
            </div>
            <div class="col-xs-2 colSelect" [ngStyle]="{'display':username === 'lp' ? 'block' : 'none' }">
                <select class="form-control" placeholder=".col-xs-3" (click)="onChange($event)">
                    <option value="0">Volvo</option>
                    <option value="1">Saab</option>
                    <option value="2">Mercedes</option>
                    <option value="3">Audi</option>
                </select>
            </div>
            
            <wj-flex-grid [itemsSource]="cvPaging" [itemFormatter]="itemFormatter">

                <wj-flex-grid-column [header]="'国家'" [binding]="'country'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'日期'" [binding]="'date'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Revenue'" [binding]="'amount'" [format]="'n0'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Active'" [binding]="'active'"></wj-flex-grid-column>

            </wj-flex-grid>


            <!-- <wj-flex-grid [itemsSource]="cvPaging" [itemFormatter]="itemFormatter">

                <wj-flex-grid-column [header]="'国家'" [binding]="'country'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'日期'" [binding]="'date'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Revenue'" [binding]="'amount'" [format]="'n0'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Active'" [binding]="'active'"></wj-flex-grid-column>

            </wj-flex-grid>
            <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="cvPaging.moveToFirstPage()" [disabled]="cvPaging.pageIndex <= 0">
                    <span class="glyphicon glyphicon-fast-backward"></span>
                </button>
                <button type="button" class="btn btn-default" (click)="cvPaging.moveToPreviousPage()" [disabled]="cvPaging.pageIndex <= 0">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
                <button type="button" class="btn btn-default" disabled style="width:100px">
                    {{ cvPaging.pageIndex + 1 | number }} /
                    {{ cvPaging.pageCount | number }}
                </button>
                <button type="button" class="btn btn-default" (click)="cvPaging.moveToNextPage()" [disabled]="cvPaging.pageIndex >= cvPaging.pageCount - 1">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
                <button type="button" class="btn btn-default" (click)="cvPaging.moveToLastPage()" [disabled]="cvPaging.pageIndex >= cvPaging.pageCount - 1">
                    <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div> -->
        </div>
    </section>
</div>
