<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" 
role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">新增产品</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cpwhcpaddHide()">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <table>
                  <colgroup>
                    <col width="90"/>
                    <col width="200"/>
                    <col width="80"/>
                    <col width="200"/>
                    <col width="80"/>
                    <col width="200"/>
                  </colgroup>
                  <tr>
                    <td class="cpwhaddLabel"><label>所属部门：</label></td>
                    <td>
                      <select class="form-control" [(ngModel)]="post.departId" name="optDepartmentId">
                        <option value="">--请选择--</option>
                        <option [value]="c.optionId" *ngFor="let c of addList.optDepartment">{{c.optionName}}</option>
                      </select>
                    </td>
                    <td class="cpwhaddLabel"><label>分类：</label></td>
                    <td>
                      <select class="form-control" [(ngModel)]="post.typeId" name="optTypeId">
                        <option value="">--请选择--</option>
                        <option [value]="c.optionId" *ngFor="let c of addList.optType">{{c.optionName}}</option>
                      </select>
                    </td>
                    <td class="cpwhaddLabel"><label>界别：</label></td>
                    <td>
                      <select class="form-control" [(ngModel)]="post.jieId" name="optJieId">
                        <option value="">--请选择--</option>
                        <option [value]="c.optionId" *ngFor="let c of addList.optJie">{{c.optionName}}</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="cpwhaddLabel"><label>年级：</label></td>
                    <td>
                      <select class="form-control" [(ngModel)]="post.gradeId" name="optGradeId">
                        <option value="">--请选择--</option>
                        <option [value]="c.optionId" *ngFor="let c of addList.optGrade">{{c.optionName}}</option>
                      </select>
                    </td>
                    <td class="cpwhaddLabel"><label>产品I类：</label></td>
                    <td>
                      <!-- <select class="form-control" [(ngModel)]="kindId1" name="optKind1Id">
                        <option value="">-请选择-</option>
                        <option [value]="c.optionId" *ngFor="let c of addList.optKind1">{{c.optionName}}</option>
                      </select> -->
                      <p-dropdown [options]="addList.optKind1" [(ngModel)]="post.kindId1" (ngModelChange)="post.kindId1=$event;changeKind1()" filter="filter" [ngModelOptions]="{standalone: true}" 
                      [style]="{'width':'100%'}" filterBy="optionName">
                        <ng-template let-c pTemplate="item">
                            <div class="ui-helper-clearfix" >
                                <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                            </div>
                        </ng-template>
                      </p-dropdown>
                    </td>
                    <td class="cpwhaddLabel"><label>产品II类：</label></td>
                    <td>
                      <!-- <select class="form-control" [(ngModel)]="post.kindId2" name="optKind2Id" [disabled]="cpwhAddid==1?false:true">
                        <option value="">-请选择-</option>
                        <option [value]="c.optionId" *ngFor="let c of changeOptKind2">{{c.optionName}}</option>
                      </select> -->
                      <p-dropdown [options]="changeOptKind2" [(ngModel)]="post.kindId2" (ngModelChange)="post.kindId2=$event;" filter="filter" [ngModelOptions]="{standalone: true}" 
                      [style]="{'width':'100%'}" filterBy="optionName" [disabled]="cpwhAddid==1?false:true">
                        <ng-template let-c pTemplate="item">
                            <div class="ui-helper-clearfix" >
                                <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                            </div>
                        </ng-template>
                      </p-dropdown>
                    </td>
                  </tr>
                  <tr style="height:44px">
                    <td class="cpwhaddLabel"><label>科目：</label></td>
                    <td>
                      <!-- <select class="form-control" [(ngModel)]="post.subjectId" name="optSubjectId">
                        <option value="">-请选择-</option>
                        <option [value]="c.optionId" *ngFor="let c of addList.optSubject">{{c.optionName}}</option>
                      </select> -->
                      <p-dropdown [options]="addList.optSubject" [(ngModel)]="post.subjectId" (ngModelChange)="post.subjectId=$event;" filter="filter" [ngModelOptions]="{standalone: true}" 
                      [style]="{'width':'100%'}" filterBy="optionName">
                        <ng-template let-c pTemplate="item">
                            <div class="ui-helper-clearfix" >
                                <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                            </div>
                        </ng-template>
                      </p-dropdown>
                    </td>
                    <td class="cpwhaddLabel" colspan="2"><label>是否按页码计算工作量：</label></td>
                    <td>
                      <span><input type="radio" value="1" name="is" [(ngModel)]="post.workloadType"></span>
                      是
                      <span><input type="radio" value="0" name="is" [(ngModel)]="post.workloadType" ></span>
                      否
                    </td>
                  </tr>
                  <tr>
                    <td class="cpwhaddLabel text-danger"><label>*添加行数：</label></td>
                    <td>
                      <input type="number" class="form-control ng-pristine ng-valid ng-touched" [ngModel]="cpAddTjhs" (ngModelChange)="cpAddTjhs=$event;" [ngModelOptions]="{standalone: true}" style="margin:5px 0;">
                    </td>
                    <td style="text-align: center;" colspan="2">
                      <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" (click)="pladd()">新增</button>
                      </div>
                      <div class="btn-group" style="margin-left:20px;">
                        <button type="button" class="btn btn-danger dropdown-toggle" (click)="delete()">删除</button>
                      </div>
                    </td>
                  </tr>
              </table>
            
          </div>
          <div style="margin-top:10px;"></div>
          <p-dataTable [value]="tableList" [(selection)]="selectedTab" [style]="{'text-align':'center'}" emptyMessage="暂无数据">
            <p-column [style]="{'width':'20px'}" selectionMode="multiple"></p-column>
            <!-- <p-column field="keyId" header="主键" [style]="{'width':'0px';}"></p-column> -->
            <!-- [(ngModel)]="tab.editionId" -->
            <p-column field="editionId" header="版本" [style]="{'width':'80px'}">
              <ng-template let-col let-node="rowData" pTemplate="body" let-in="rowIndex">
                  <!-- <select pInputText style="color: #000;width:100%;" name="optEdition" (change)="myFunction($event,node.datakey,'editionId')">
                      <option value="">-请选择-</option>
                      <option [value]="c.optionId" *ngFor="let c of addList.optEdition">{{c.optionName}}</option>
                    </select> -->
                <p-dropdown [options]="addList.optEdition" filter="filter" [style]="{'width':'100%'}" filterBy="optionName" (onChange)="myFunction($event,node.datakey,'editionId')">
                  <ng-template let-c pTemplate="item">
                    <div class="ui-helper-clearfix" >
                      <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-column>
            <p-column field="moduleId" header="模块" [style]="{'width':'80px'}">
              <ng-template let-col let-node="rowData" pTemplate="body">
                <!-- <select pInputText style="color: #000;width:100%;" name="optModuleId" (change)="myFunction($event,node.datakey,'moduleId')">
                  <option value="">-请选择-</option>
                  <option [value]="c.optionId" *ngFor="let c of addList.optModule">{{c.optionName}}</option>
                </select> -->
                <p-dropdown [options]="addList.optModule" filter="filter" [style]="{'width':'100%'}" filterBy="optionName" (onChange)="myFunction($event,node.datakey,'moduleId')">
                  <ng-template let-c pTemplate="item">
                    <div class="ui-helper-clearfix" >
                      <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-column>
            <p-column field="localEditionId" header="地方版" [style]="{'width':'80px'}">
              <ng-template let-col let-node="rowData" pTemplate="body">
                <!-- <select pInputText style="color: #000;width:100%;" name="optLocalEditionId" (change)="myFunction($event,node.datakey,'localEditionId')">
                  <option value="">-请选择-</option>
                  <option [value]="c.optionId" *ngFor="let c of addList.optLocalEdition">{{c.optionName}}</option>
                </select> -->
                <p-dropdown [options]="addList.optLocalEdition" filter="filter" [style]="{'width':'100%'}" filterBy="optionName" (onChange)="myFunction($event,node.datakey,'localEditionId')">
                  <ng-template let-c pTemplate="item">
                    <div class="ui-helper-clearfix" >
                      <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-column>
            <p-column field="usageId" header="使用类型" [style]="{'width':'80px'}">
              <ng-template let-col let-node="rowData" pTemplate="body">
                <!-- <select pInputText style="color: #000;width:100%;" name="optUsageTypeId" (change)="myFunction($event,node.datakey,'usageId')">
                  <option value="">-请选择-</option>
                  <option [value]="c.optionId" *ngFor="let c of addList.optUsageType">{{c.optionName}}</option>
                </select> -->
                <p-dropdown [options]="addList.optUsageType" filter="filter" [style]="{'width':'100%'}" filterBy="optionName" (onChange)="myFunction($event,node.datakey,'usageId')">
                  <ng-template let-c pTemplate="item">
                    <div class="ui-helper-clearfix" >
                      <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-column>
            <p-column field="batchId" header="批次" [style]="{'width':'80px'}">
              <ng-template let-col let-node="rowData" pTemplate="body">
                <!-- <select pInputText style="color: #000;width:100%;" name="optBatchId" (change)="myFunction($event,node.datakey,'batchId')">
                  <option value="">-请选择-</option>
                  <option [value]="c.optionId" *ngFor="let c of addList.optBatch">{{c.optionName}}</option>
                </select> -->
                <p-dropdown [options]="addList.optBatch" filter="filter" [style]="{'width':'100%'}" filterBy="optionName" (onChange)="myFunction($event,node.datakey,'batchId')">
                  <ng-template let-c pTemplate="item">
                    <div class="ui-helper-clearfix" >
                      <div style="font-size:14px;text-align:center;margin-top:4px;text-indent:0;">{{c.optionName}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="emitSave($event)">确定</button>
          <button type="button" class="btn btn-default" (click)="cpwhcpaddHide()">关闭</button>
        </div>
      </div>
    </div>
</div>
<p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>
