<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">批量新增稿件</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="cpwhgjaddHide()">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" style="margin:10px;">
            <div class="col-md-3" style="text-align:right;">产品名称：</div>
            <div class="col-md-9">{{data.name}}</div>
          </div>
          <div class="row" style="line-height: 32px;margin:10px;">
            <div class="col-md-3" style="text-align:right;">
              <i class="text-danger">*</i>
               稿件分类：
            </div>
            <div class="col-md-4">
              <input type="text" [(ngModel)]="quantity" class="form-control ng-pristine ng-valid ng-touched" placeholder="填写数量">
            </div>
            <div class="col-md-4">
              <select class="form-control" [(ngModel)]="typeName" (ngModelChange)="typeName=$event;" name="typeName">
                <option value="">--请选择--</option>
                <option value="章节">章节</option>
                <option value="课节">课节</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" (click)="emitCpwhPLadd($event)">确定</button>
          <button type="button" class="btn btn-default" (click)="cpwhgjaddHide()">关闭</button>
        </div>
      </div>
    </div>
</div>
<p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>