.jdwh-lable{
  line-height: 34px;
  text-align: right;
}
.tjgzl-check{
  vertical-align: text-top;
  margin-top: 2px;
}
.mbwhadd-txt{
  width: 100%;
  border-radius: 0;
  height: 78px;
  resize:none;
  outline: none;  
}