<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" 
tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onShow)="openModal($event)">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">编辑</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="jdwhbjHide()">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="ui-g">
          <div class="ui-g-4 jdwh-lable">编号：</div>
          <div class="ui-g-5" style="line-height: 34px;">
            <!-- <input pInputText type="text" [(ngModel)]="" name="" class="form-control" placeholder="流程节点..."> -->
            {{number}}
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 jdwh-lable" style="color:red;">*流程节点：</div>
          <div class="ui-g-5">
            <input pInputText type="text" [(ngModel)]="name" name="" class="form-control" placeholder="流程节点...">
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 jdwh-lable">禁用/启用：</div>
          <div class="ui-g-5" style="line-height:34px;">
            <span><input type="radio" value="true" name="jdwhIs" class="tjgzl-check" [(ngModel)]="isLocked"></span>禁用
            <span style="margin-left:10px;"><input type="radio" value="false" name="jdwhIs" class="tjgzl-check" [(ngModel)]="isLocked"></span>启用
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-4 jdwh-lable">说明：</div>
          <div class="ui-g-5">
            <textarea pInputText [(ngModel)]="statement" name="" class="mbwhadd-txt" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" (click)="emitjdwhBJ($event)">确定</button>
        <button type="button" class="btn btn-default" (click)="jdwhbjHide()">关闭</button>
      </div>
    </div>
  </div>
</div>
<p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>