<div class="content-wrapper">
  <app-navigation Showtitle="xxxxx" Subtitle="D3画线开始" Web="站点" Module="M3模块" Page="第一个D3效果"></app-navigation>
  <section class="content" id="content">
    <input [(ngModel)]="selected" [typeahead]="states" class="form-control">

    <p-dataTable [value]="cars" [(selection)]="selectedCars3" dataKey="vin" [paginator]="true" [rows]="5" [headerCheckboxToggleAllPages]="true">
      <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
      <p-column field="id" header="id">{{index}}</p-column>
      <p-column field="vin" header="Vin"></p-column>
      <p-column field="year" header="Year"></p-column>
      <p-column field="brand" header="Brand"></p-column>
      <p-column field="color" header="Color"></p-column>
      <p-footer>
        <ul>
          <li *ngFor="let car of selectedCars3" style="text-align: left">{{car.vin + ' - ' + car.brand + ' - ' + car.year + ' - ' + car.color}}</li>
        </ul>
      </p-footer>
    </p-dataTable>
  </section>
</div>