.form-control {
	width: 140px;
    display: inline-block;
    vertical-align: bottom;
}

.pageing {margin-top: 10px;}

.button-content {margin-bottom: 10px;}

.tab {display: flex;margin-bottom: 20px;border-bottom: 1px solid #cccccc;}

.tab span {
    padding: 10px 20px;
    margin-bottom: -1px;
    border: 1px solid #cccccc;
    border-bottom: 0;
    border-left: 0;
    background-color: #a7a7a7;
    cursor: pointer;
}
.tab span:nth-child(1) {border-left: 1px solid #cccccc;}

.tab span.article{background-color: #ecf0f5;}


 /* frozen cells */
 /* .wj-frozen:not(.wj-state-selected):not(.wj-state-multi-selected) {
 background-color: #f8ffd6;
}
.wj-frozen.wj-alt:not(.wj-state-selected):not(.wj-state-multi-selected) {
 background-color: #f8ffd6;
} */
/* frozen area edges */
/* .wj-frozen-row {
 border-bottom: 1px solid rgba(0,0,0,.5);
}
.wj-frozen-col {
 border-right: 1px solid rgba(0,0,0,.5);
} */

.wj-flexgrid {max-height: 450px; max-width: 200%; overflow-y: hidden;}