
<div class="content-wrapper">
    <app-navigation Showtitle="基础设置" Subtitle="计算设置" Web="工作量管理"
    Module="基础设置" Page="计算设置" ></app-navigation>

    <section class="content" id="content">
        <div class="button-content">
            <button type="button" class="btn btn-success" (click)="addnew()">新增</button>
            <button type="button" class="btn btn-primary" (click)="edit()">修改</button>
            <button type="button" class="btn btn-danger" (click)="dellList()">删除</button>
        </div>

        <div style="_height:100%;min-height:100%;">
            <div class="tab">
                <span *ngFor="let list of ListFindType" [ngClass]="{ 'article': username == list.id }" (click)="onRenovate(list.id)">{{ list.text }}</span>
            </div>

            <wj-flex-grid #flexgrid1 [itemsSource]="cvPaging" auto-generate-columns="true" [itemFormatter]="itemFormatter">
                    <wj-flex-grid-column [header]="''" [binding]="'check'" [width]="30"></wj-flex-grid-column>
                <!-- <wj-flex-grid-column [header]="''" [binding]="'check'" [width]="30"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'主键'" [binding]="'id'" [width]="60" [isReadOnly]="'true'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'系统编码'" [binding]="'indexcode'" [width]="80" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">{{cell.item.indexcode}}</div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'大类名称'" [binding]="'indexname'" [width]="200">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">{{cell.item.indexname}}</div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'备注信息'" [binding]="'indexremark'" [width]="'*'"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'应用状态'" [binding]="'isdel'" [width]="70" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <span [ngStyle]="{color:cell.item.isdel == 0 ?'green':'red'}">
                            {{cell.item.isdel==0?'启用':'禁用'}}
                        </span>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'编辑状态'" [binding]="'isdelandedit'" [width]="70" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <span [ngStyle]="{color:cell.item.isdelandedit == 0 ?'green':'red'}">
                            {{cell.item.isdelandedit==0 ? '可编辑':'已锁定'}}
                        </span>
                    </ng-template>
                </wj-flex-grid-column> -->
<!-- 序号

流程节点

是否包括录排工作量

是否包括画图工作量

是否包括调图工作量

是否包括答题卡工作量

是否包括后期制作工作量

单位
倍数
工作量

节点说明 -->
                <wj-flex-grid-column [header]="'序号'" [binding]="'id'" [width]="50" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">{{cell.item.id}}</div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'流程节点'" [binding]="'nodeId'" [width]="80" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">{{cell.item.nodeId}}</div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'是否包括录排工作量'" [binding]="'isLp'" [width]="'*'" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">
                            <span *ngIf="cell.item.isLp === true">
                               <i class="fa fa-check-square-o"></i>
                            </span>
                            <span *ngIf="cell.item.isLp !== true">
                                <i class="fa fa-square-o"></i>
                            </span>
                        </div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'是否包括画图工作量'" [binding]="'isHuat'" [width]="'*'" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">
                            <span *ngIf="cell.item.isHuat === true">
                                <i class="fa fa-check-square-o"></i>
                            </span>
                            <span *ngIf="cell.item.isHuat !== true">
                                <i class="fa fa-square-o"></i>
                            </span>
                        </div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'是否包括调图工作量'" [binding]="'isTiaot'" [width]="'*'" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">
                            <span *ngIf="cell.item.isTiaot === true">
                                <i class="fa fa-check-square-o"></i>
                            </span>
                            <span *ngIf="cell.item.isTiaot !== true">
                                <i class="fa fa-square-o"></i>
                            </span>
                        </div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'是否包括答题卡工作量'" [binding]="'isDatika'" [width]="'*'" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">
                            <span *ngIf="cell.item.isDatika === true">
                                <i class="fa fa-check-square-o"></i>
                            </span>
                            <span *ngIf="cell.item.isDatika !== true">
                                <i class="fa fa-square-o"></i>
                            </span>
                        </div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'是否包括后期制作工作量'" [binding]="'isHouqi'" [width]="'*'" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                        <div style="text-align:center;">
                            <span *ngIf="cell.item.isHouqi === true">
                                <i class="fa fa-check-square-o"></i>
                            </span>
                            <span *ngIf="cell.item.isHouqi !== true">
                                <i class="fa fa-square-o"></i>
                            </span>
                        </div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'单位'" [binding]="'unit'" [width]="50" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">{{cell.item.unit}}</div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'倍数'" [binding]="'multiple'" [width]="50" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
                        <div style="text-align:center;">{{cell.item.multiple}}</div>
                    </ng-template>
                </wj-flex-grid-column>
                <wj-flex-grid-column [header]="'节点说明'" [binding]="'remarks'" [width]="'*'" [isReadOnly]="'true'">
                    <ng-template wjFlexGridCellTemplate [cellType]="'Cell'"  let-cell="cell">
                        <div style="text-align:center;">{{cell.item.remarks}}</div>
                    </ng-template>
                </wj-flex-grid-column>
            </wj-flex-grid>
            <!-- <app-paging [pageNews]="this.pageNews" (change)="bindpage($event)"></app-paging> -->
        </div>
        <!-- <app-m1v1open #m1v1open Title (change)="bindpage(0)"></app-m1v1open> -->
    </section>

</div>