<!-- <div class="wrapper">
    <app-top></app-top>
    <app-treeview treemodule="sjtj" treeitem="khgzgl" ></app-treeview> -->
<div class="content-wrapper">
    <app-navigation Showtitle="工作量管理" Subtitle="考核工资管理" Web="工作量管理系统" Module="数据统计" Page="考核工资管理"></app-navigation>

    <section class="content" id="content">
        <p-growl [style]="{'top': '60px'}" [(value)]="msgs" [life]="3000"></p-growl>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
                <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>
        <div class="row">
            <div class="col-xs-2">
                <label class="control-label">期间：</label>
                <div class="controls">
                    <p-calendar [locale]="zh" [inputStyle]="{'width': '100px','padding': '5px'}" placeholder="接收时间" [(ngModel)]="bearDate" dateFormat="yy-mm"
                        [maxDate]="maxDate"></p-calendar>
                </div>
            </div>
            <div class="col-xs-2">
                <label class="control-label">人员：</label>
                <div class="controls">
                    <select [(ngModel)]="findUserListId">
                        <option value="">-- 请选择 --</option>
                        <option *ngFor="let item of findUserList" value="{{item.name}}">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-3">
                <label class="control-label">技能等级：</label>
                <div class="controls">
                    <select [(ngModel)]="collectionId">
                        <option selected="selected" value="-1">-- 请选择 --</option>
                        <option *ngFor="let item of collectionList" value="{{item.id}}">{{item.job_name}}</option>
                    </select>
                </div>
                <button style="margin-left: 10px;" type="button" class="btn btn-success" (click)="query()">查询</button>
            </div>
        </div>

        <div class="button-content">
            <button type="button" class="btn btn-success" (click)="tongjiWages()">计算</button>
            <button type="button" class="btn btn-danger" (click)="lockWages()">完结</button>
            <button type="button" class="btn btn-primary">导出</button>
        </div>

        <div style="_height:100%;min-height:100%;">
            <div class="tab"></div>
            <p-dataTable [responsive]="true" [value]="dataList" [editable]="true" [(selection)]="dataListCode" [headerCheckboxToggleAllPages]="true"
                [style]="{'text-align':'center'}">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column header="期间" rowspan="3"></p-column>
                        <p-column header="工号" rowspan="3"></p-column>
                        <p-column header="技能等级" rowspan="3"></p-column>
                        <p-column header="姓名" rowspan="3"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="工作量" colspan="3"></p-column>
                        <p-column header="工资" colspan="4"></p-column>
                        <p-column header="状态" rowspan="3"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="等级"></p-column>
                        <p-column header="超额"></p-column>
                        <p-column header="合计"></p-column>
                        <p-column header="等级工资"></p-column>
                        <p-column header="超额工资"></p-column>
                        <p-column header="内部发外工资"></p-column>
                        <p-column header="合计"></p-column>
                    </p-row>
                </p-headerColumnGroup>

                <p-column field="pay_year_month" header="期间"></p-column>
                <p-column field="emp_no" header="工号">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        <p style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 5em;padding:0;margin:0;">
                            {{car[col.field]}}
                        </p>
                    </ng-template>
                </p-column>
                <p-column field="job_name" header="技能等级"></p-column>
                <p-column field="name" header="姓名"></p-column>
                <p-column field="job_workload" header="等级"></p-column>
                <p-column field="above_workload" header="超额"></p-column>
                <p-column field="sum_workload" header="合计"></p-column>
                <p-column field="job_money" header="等级工资"></p-column>
                <p-column field="above_money" header="超额工资"></p-column>
                <p-column field="inner_money" header="内部发外工资" [editable]="true">
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <span style="display: block;" (dblclick)="ShowElement($event, car);">{{ car[col.field] }}</span>
                    </ng-template>
                </p-column>
                <p-column field="sum_money" header="合计"></p-column>
                <p-column field="statu" header="状态">
                    <ng-template let-col let-car="rowData" pTemplate="body">
                        <div *ngIf="car[col.field] == 0">未完结</div>
                        <div *ngIf="car[col.field] == 1">已完结</div>
                    </ng-template>
                </p-column>
            </p-dataTable>
            <p-paginator rows="{{rows}}" totalRecords="{{pageLinks}}" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[10,20,30]"></p-paginator>
        </div>
    </section>
</div>
<!-- 
    <app-footer></app-footer>
</div> -->