<div class="content-wrapper">
    <app-navigation Showtitle="基础设置" Subtitle="人员技能等级" Web="工作量管理" Module="基础设置" Page="人员技能等级"></app-navigation>

    <section class="content" id="content">
        <p-growl [(value)]="msgs"></p-growl>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
                <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>
        <div class="button-content">
            <!-- <button type="button" class="btn btn-success" (click)="add(username)">同步数据</button> -->
            <div class="colSelect">
                <label>人员：</label>
                <input placeholder="请输入工号或者姓名" id="input" type="text" size="15" pInputText [(ngModel)]="name">
            </div>
            <div class="colSelect">
                <label [ngStyle]="{'margin-top': '8px'}">技能等级：</label>
                <select [(ngModel)]="level">
                    <option value="-1">全部</option>
                    <option *ngFor="let item of findCourseList" value="{{item.valueName.id}}" >{{item.label}}</option>
                </select>
            </div>
            <div class="colSelect">
                <p-checkbox [(ngModel)]="flag" binary="true"></p-checkbox>
                <label [ngStyle]="{'margin-top': '2px'}">未设置等级</label>
            </div>
            <button style="margin-left: 5px;" type="button" class="btn btn-info" (click)="search()">查询</button>
        </div>

        <div style="_height:100%;min-height:100%;">
            <div class="tab"></div>

            <p-dataTable [responsive]="true" [rows]="rows" [paginator]="true" [pageLinks]="pageLinks" [rowsPerPageOptions]="[5,10,20]"
                [value]="dataList" [editable]="true" [style]="{'width': '100%','text-align':'center'}">
                <p-column field="name" header="人员" [style]=" {'height': '35px' }"></p-column>
                <p-column field="empNo" header="工号"></p-column>
                <p-column field="jobName" header="技能等级" [editable]="true">
                    <ng-template let-col let-car="rowData" pTemplate="editor">
                        <p-dropdown placeholder="请选择" (onChange)="change(car)" [(ngModel)]="car[col.field]" [options]="findCourseList" [autoWidth]="false"
                            [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
                    </ng-template>
                </p-column>
                <p-column field="jobIncome" header="等级工资"></p-column>
                <p-column field="jobWorkload" header="等级工作量"></p-column>
            </p-dataTable>
        </div>
    </section>
</div>