<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">授权</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="jsfpwarHide()">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="ui-g">
          <div class="ui-g-6">
            <div class="ui-g-12">菜单权限：</div>
            <div class="ui-g-12 boxCursor" >
              <p-tree [value]="viewListL" selectionMode="single" [(selection)]="selected"
              (onNodeSelect)="nodeSelect()" [style]="{'width':'100%','height':'448px','font-size':'16px'}"></p-tree>
            </div>
          </div>
          <div class="ui-g-6">
            <div class="ui-g-12">功能权限：</div>
            <div class="ui-g-12 boxCursor">
              <p-listbox [options]="nodeList" [(ngModel)]="node" multiple="multiple" checkbox="checkbox"
              [ngModelOptions]="{standalone: true}" filter="filter" [style]="{'width':'100%','height':'448px'}"></p-listbox>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-info" (click)="save()">保存</button>
        <button type="button" class="btn btn-default" (click)="jsfpwarHide()">关闭</button>
      </div>
    </div>
  </div>
</div>
