<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)" class="show-form">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{ShowType}}{{Title}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>等级名称：</label>
            <input type="text" size="8" pInputText [(ngModel)]="jobName" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label>等级工资：</label>
            <input type="text" size="8" (blur)="jobIncomeNo(jobIncome)" (keyup)="jobIncomeNo(jobIncome)" pInputText [(ngModel)]="jobIncome" [ngModelOptions]="{standalone: true}">
          </div>

          <div class="form-group">
            <label>等级工作量：</label>
            <input type="text" size="8" (blur)="jobWorkloadNo(jobWorkload)" (keyup)="jobWorkloadNo(jobWorkload)" pInputText [(ngModel)]="jobWorkload" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hideChildModal()">关闭</button>
          <button type="submit" class="btn btn-primary">提交</button>
        </div>
      </form>
    </div>
  </div>
</div>
<p-growl [style]="{'top': '60px'}" [(value)]="msgs" [life]="3000"></p-growl>