
  <div class="content-wrapper">
    <app-navigation Showtitle="工作量管理模块" Subtitle="页码输入" Web="站点"
    Module="工作量管理模块" Page="页码输入" ></app-navigation>
    <section class="content" id="content">
      <div class="row" style="_height:400px;min-height:400px;">
        <div class="col-md-12 jtyjy-one-panel">
          <div class="jtyjy-search-sample">
            <div class="well well-lg">
              <table>
                <colgroup>
                  <col width="50"/>
                  <col width="80"/>
                  <col width="150"/>
                  <col width="80"/>
                  <col width="150"/>
                  <col width="50"/>
                  <col width="80"/>
                  <col width="50"/>
                </colgroup>
                <tr>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" (click)="save()">保存</button>
                    </div>
                  </td>
                  <td style="text-align:right;"><label style="margin-bottom:0px;">所属部门：</label></td>
                  <td>
                    <div class="jtyjy-search-text" style="width:100%;">
                        <select class="form-control" [(ngModel)]="optsData.departId" (ngModelChange)="optsData.departId=$event;" name="departId">
                            <option value="">--请选择--</option>
                            <option [value]="c.id" *ngFor="let c of optsDataList.departments">{{c.name}}</option>
                        </select>
                    </div>
                  </td>
                  <td style="text-align:right;"><label style="margin-bottom:0px;">产品名称：</label></td>
                  <td>
                    <div class="jtyjy-search-text">
                      <input type="text" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="optsData.name" placeholder="稿件名称...">
                    </div>
                  </td>
                  <td title="搜索">
                      <button class="jtyjySearchbtn" (click)="refresh()">
                          <span>搜索</span>
                          <i class="fa fa-spinner fa-spin"></i>
                      </button>
                  </td>
                  <td title="高级搜索"><button class="jtyjySearchbtn" (click)="adSearch()" [ngClass]="{'cpwh-isadSearch':isadSearch==1}">高级搜索</button></td>
                  <td title="重置">
                    <button class="jtyjySearchbtn" (click)="clearOpts()">
                      <span>重置</span>
                      <i class="fa fa-spinner fa-spin"></i>
                  </button>
                  </td>
                </tr>
              </table>
              <div class="jtyjy-search-more" [hidden]="isadSearch == 0">
                      <table style="width: 100%">
                        <colgroup>
                          <col width="180"/>
                          <col width="180"/>
                          <col width="180"/>
                          <col width="180"/>
                          <col width="180"/>
                        </colgroup>
                        <tr class="cpwh-flex">
                            <td>
                                <label>产品I类：</label>
                                <div style="display:inline-block;">
                                  <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.kindId1" (ngModelChange)="optsData.kindId1=$event;" name="kindId1">
                                    <option value="">--请选择--</option>
                                    <option [value]="c.optionId" *ngFor="let c of optsDataList.optKind1">{{c.optionName}}</option>
                                  </select>
                                </div>
                            </td>
                          <td>
                              <label>产品II类：</label>
                              <div style="display:inline-block;">
                                  <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.kindId2" (ngModelChange)="optsData.kindId2=$event;" name="kindId2">
                                      <option value="">--请选择--</option>
                                      <option [value]="c.optionId" *ngFor="let c of optsDataList.optKind2">{{c.optionName}}</option>
                                  </select>
                              </div>
                          </td>
                          <td>
                            <label>界别：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.jieId" (ngModelChange)="optsData.jieId=$event;" name="jieId">
                                  <option value="">--请选择--</option>
                                  <option [value]="c.optionId" *ngFor="let c of optsDataList.optJie">{{c.optionName}}</option>
                              </select>
                          </div>        
                          </td>
                          <td>
                              <label>分类：</label>
                              <div style="display:inline-block;">
                                <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.typeId" (ngModelChange)="optsData.typeId=$event;" name="typeId">
                                  <option value="">--请选择--</option>
                                  <option [value]="c.optionId" *ngFor="let c of optsDataList.optType">{{c.optionName}}</option>
                                </select>
                              </div>
                          </td>
                          <td>
                            <label>年级：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.gradeId" (ngModelChange)="optsData.gradeId=$event;" name="gradeId">
                                <option value="">--请选择--</option>
                                <option [value]="c.optionId" *ngFor="let c of optsDataList.optGrade">{{c.optionName}}</option>
                              </select>
                            </div>
                        </td>
                        </tr>
                        <tr class="cpwh-flex">
                          <td>
                            <label>地方版：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.localEditionId" (ngModelChange)="optsData.localEditionId=$event;" name="localEditionId">
                                <option value="">--请选择--</option>
                                <option [value]="c.optionId" *ngFor="let c of optsDataList.optLocalEdition">{{c.optionName}}</option>
                              </select>
                            </div>
                          </td>
                          <td>
                            <label>版本：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.editionId" (ngModelChange)="optsData.editionId=$event;" name="editionId">
                                <option value="">--请选择--</option>
                                <option [value]="c.optionId" *ngFor="let c of optsDataList.optEdition">{{c.optionName}}</option>
                              </select>
                            </div>
                          </td>
                          <td>
                            <label>模块：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.moduleId" (ngModelChange)="optsData.moduleId=$event;" name="moduleId">
                                <option value="">--请选择--</option>
                                <option [value]="c.optionId" *ngFor="let c of optsDataList.optModule">{{c.optionName}}</option>
                              </select>
                            </div>
                          </td>
                          <td>
                            <label>批次：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.batchId" (ngModelChange)="optsData.batchId=$event;" name="batchId">
                                <option value="">--请选择--</option>
                                <option [value]="c.optionId" *ngFor="let c of optsDataList.optBatch">{{c.optionName}}</option>
                              </select>
                            </div>
                          </td>
                          <td>
                            <label>使用类型：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.usageId" (ngModelChange)="optsData.usageId=$event;" name="usageId">
                                <option value="">--请选择--</option>
                                <option [value]="c.optionId" *ngFor="let c of optsDataList.optUsageType">{{c.optionName}}</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                        <tr class="cpwh-flex">
                          <td>
                            <label>科目：</label>
                            <div style="display:inline-block;">
                              <select class="form-control cpwhSelOpt" [(ngModel)]="optsData.subjectId" (ngModelChange)="optsData.subjectId=$event;" name="subjectId">
                                <option value="">--请选择--</option>
                                <option [value]="c.optionId" *ngFor="let c of optsDataList.optSubject">{{c.optionName}}</option>
                              </select>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="6">
                            <div class="moreSearchBtnContent">
                              <span class="moreSearchBtn"
                                (click)="refresh()">
                                <span>搜索</span>
                                <i class="fa fa-spinner fa-spin"></i>
                              </span>
                              <span>|</span>
                              <span class="moreSearchBtn" (click)="clearOpts()">重置</span>
                              <span>|</span>
                              <span class="moreSearchBtn" (click)="cancel()">取消</span>
                            </div>
                          </td>
                        </tr>
                      </table>
              </div>
            </div>
            <!-- 表格 -->
            
            <p-treeTable [value]="formDataList" selectionMode="single" [(selection)]="selected">
              <p-column field="name" header="产品名称"></p-column>
              <p-column field="departName" header="所属部门" [style]="{'text-align':'center'}"></p-column>
              <p-column field="pageNumber" header="定稿页码数" [style]="{'text-align':'center'}">
                <ng-template let-node="rowData" pTemplate="body">
                  <div (dblclick)="ShowElement($event, selected)">{{node.data.pageNumber===0?"未设置":node.data.pageNumber}}</div>
                </ng-template>
              </p-column>
            </p-treeTable>
            <p-paginator rows="{{optsData.size}}" totalRecords="{{total}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
          </div>
        </div>
      </div>
      <p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>
      <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
          <p-footer>
              <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
              <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
          </p-footer>
      </p-confirmDialog>
    </section>
  </div>

