<div class="content-wrapper">
    <app-navigation Showtitle="工作量管理模块" Subtitle="用户管理" Web="站点"
    Module="工作量管理模块" Page="用户管理" ></app-navigation>
    <section class="content" id="content">
      <div class="row" style="_height:400px;min-height:400px;">
        <div class="col-md-12 jtyjy-one-panel">
          <div class="jtyjy-search-sample">
            <div class="well well-lg">
              <table>
                <colgroup>
                  <col width="200"/>
                  <col width="80"/>
                  <col width="150"/>
                  <col width="80"/>
                  <col width="150"/>
                  <col width="50"/>
                  <col width="50"/>
                </colgroup>
                <tr>
                  <td>
                    <!-- <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" (click)="role()">角色分配</button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-success dropdown-toggle" (click)="dept()">部门授权</button>
                    </div> -->
                    <div class="btn-group" *ngFor="let item of btnFn" >
                      <button type="button" class="btn {{item.btn}} dropdown-toggle" (click)="clickFn(item.name)">{{item.name}}</button>
                    </div>
                  </td>
                  <td style="text-align:right;"><label style="margin-bottom:0px;">姓名/工号：</label></td>
                  <td>
                    <div class="jtyjy-search-text">
                      <input type="text" class="form-control ng-pristine ng-valid ng-touched" [(ngModel)]="nameOrId" placeholder="姓名/工号...">
                    </div>
                  </td>
                  <td style="text-align:right;"><label style="margin-bottom:0px;">部门：</label></td>
                  <td>
                    <div class="jtyjy-search-text" style="width:100%;">
                        <select class="form-control" [(ngModel)]="deptData" (ngModelChange)="deptData=$event;" name="deptData" placeholder="部门">
                            <option value="">--请选择--</option>
                            <option [value]="c.treeSign" *ngFor="let c of deptList">{{c.name}}</option>
                        </select>
                    </div>
                  </td>
                  <td title="搜索">
                      <button class="jtyjySearchbtn" (click)="refresh()">
                          <span>搜索</span>
                          <i class="fa fa-spinner fa-spin"></i>
                      </button>
                  </td>
                  <td title="重置">
                    <button class="jtyjySearchbtn" (click)="clearOpts()">
                      <span>重置</span>
                      <i class="fa fa-spinner fa-spin"></i>
                  </button>
                  </td>
                </tr>
              </table>
            </div>
            <p-dataTable [value]="formDataList" [(selection)]="selected" selectionMode="single" [headerCheckboxToggleAllPages]="true" 
            emptyMessage="暂无数据" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]">
                <p-column field="empNo" header="工号" [style]="{'width':'100px','text-align':'center'}"></p-column>
                <p-column field="name" header="姓名" [style]="{'width':'100px','text-align':'center'}"></p-column>
                <p-column field="departmentStr" header="部门" [style]="{'text-align':'center'}"></p-column>
                <p-column field="dutyName" header="岗位" [style]="{'width':'200px','text-align':'center'}"></p-column>
                <p-column field="roleStr" header="角色列表" [style]="{'text-align':'center'}"></p-column>
            </p-dataTable>
                <!-- <p-paginator rows="{{pageSize}}" totalRecords="{{total}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator> -->
          </div>
        </div>
      </div>
      <yhgl-Dept #yhglDept (saveDept)="saveDeptChange()"></yhgl-Dept>
      <yhgl-JS #yhglJS (saveJS)="saveJSChange()"></yhgl-JS>
      <p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>
      <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
          <p-footer>
              <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
              <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
          </p-footer>
      </p-confirmDialog>
    </section>
  </div>