    <div class="content-wrapper">
      <app-navigation Showtitle="工作量管理模块" Subtitle="流转查询" Web="站点"
      Module="工作量管理模块" Page="流转查询" ></app-navigation>
      <section class="content" id="content">
        <div class="row" style="_height:400px;min-height:400px;">
          <div class="col-md-12 jtyjy-one-panel">
            <div class="jtyjy-search-sample">
              <div class="well well-lg">
                <table>
                  <colgroup>
                    <col width="40"/>
                    <col width="80"/>
                    <col width="150"/>
                    <col width="50"/>
                    <col width="150"/>
                    <col width="80"/>
                    <col width="150"/>
                    <col width="50"/>
                    <col width="80"/>
                    <col width="50"/>
                  </colgroup>
                  <tr>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" (click)="delete()">删除</button>
                      </div>
                    </td>
                    <td style="text-align:right;"><label style="margin-bottom:0px;">稿件名称：</label></td>
                    <td>
                      <div class="jtyjy-search-text">
                        <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="稿件名称..." [(ngModel)]="documentName">
                      </div>
                    </td>
                    <td style="text-align:right;"><label style="margin-bottom:0px;">人员：</label></td>
                    <td>
                      <div class="jtyjy-search-text">
                        <input type="text" class="form-control ng-pristine ng-valid ng-touched" placeholder="人员..." [(ngModel)]="username">
                      </div>
                    </td>
                    <td style="text-align:right;"><label style="margin-bottom:0px;">流程节点：</label></td>
                    <td>
                      <div class="jtyjy-search-text" style="width:100%;">
                          <select class="form-control" [(ngModel)]="nodeId" name="nodeId">
                              <option value="">--请选择--</option>
                              <option [value]="c.optionId" *ngFor="let c of optsList.optNode">{{c.optionName}}</option>
                          </select>
                      </div>
                    </td>
                    <td title="搜索">
                        <button class="jtyjySearchbtn" (click)="refresh()">
                            <span>搜索</span>
                            <i class="fa fa-spinner fa-spin"></i>
                        </button>
                    </td>
                    <td title="高级搜索"><button class="jtyjySearchbtn" (click)="adSearch()" [ngClass]="{'cpwh-isadSearch':isadSearch==1}">高级搜索</button></td>
                    <td title="重置">
                      <button class="jtyjySearchbtn" (click)="clearOpts()">
                        <span>重置</span>
                        <i class="fa fa-spinner fa-spin"></i>
                      </button>
                    </td>
                  </tr>
                </table>
                <div class="jtyjy-search-more" [hidden]="isadSearch == 0">
                        <table style="width: 100%">
                          <colgroup>
                            <col width="180"/>
                            <col width="180"/>
                            <col width="180"/>
                            <col width="180"/>
                          </colgroup>
                          <tr class="cpwh-flex">
                            <td>
                                <label>所属部门：</label>
                                <div style="display:inline-block;">
                                    <select class="form-control" [(ngModel)]="departmentId" name="departmentId">
                                        <option value="">--请选择--</option>
                                        <option [value]="c.jtyId" *ngFor="let c of optsList.departments">{{c.name}}</option>
                                    </select>
                                </div>
                            </td>
                            <td colspan="2">
                              <label style="margin-left:42px;">接收时间：</label>
                              <div style="display:inline-block;margin: 5px 0;">
                                  <p-calendar [(ngModel)]="beginDate" [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" yearRange="1900:2100" placeholder="开始时间"></p-calendar>
                                  <span style="margin-left:35px"></span>
                              </div>
                              --
                              <div style="display:inline-block;">
                                  <p-calendar [(ngModel)]="endDate" [monthNavigator]="true" [yearNavigator]="true" [showIcon]="true" yearRange="1900:2100" placeholder="结束时间"></p-calendar>
                                  <span style="margin-left:35px"></span>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="6">
                              <div class="moreSearchBtnContent">
                                <span class="moreSearchBtn"
                                
                                  (click)="refresh()">
                                  <span>搜索</span>
                                  <i class="fa fa-spinner fa-spin"></i>
                                </span>
                                <span>|</span>
                                <span class="moreSearchBtn" (click)="clearOpts()">重置</span>
                                <span>|</span>
                                <span class="moreSearchBtn" (click)="cancel()">取消</span>
                              </div>
                            </td>
                          </tr>
                        </table>
                </div>
              </div>
                  <p-dataTable [value]="tableList" [(selection)]="selected" [headerCheckboxToggleAllPages]="true" emptyMessage="暂无数据">
                      <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                      <p-column field="id" header="序号" [style]="{'text-align':'center'}"></p-column>
                      <p-column field="documentName" header="稿件名称" [style]="{'text-align':'center'}"></p-column>
                      <p-column field="nodename" header="流程节点" [style]="{'text-align':'center'}"></p-column>
                      <p-column field="username" header="人员" [style]="{'text-align':'center'}"></p-column>
                      <p-column field="departmentName" header="所属部门／中心" [style]="{'text-align':'center'}"></p-column>
                      <p-column field="workload" header="工作量(天)" [style]="{'text-align':'center'}"></p-column>
                      <p-column field="color" header="接收时间" [style]="{'text-align':'center'}"></p-column>
                      <p-column field="year" header="结束时间" [style]="{'text-align':'center'}"></p-column>
                  </p-dataTable>
                  <p-paginator rows="{{pageSize}}" totalRecords="{{total}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
            </div>
          </div>
        </div>
        <p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
                <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>
      </section>
    </div>