<!-- <div class="wrapper">
  <app-top></app-top>
  <app-treeview treemodule="M4" treeitem="V7" ></app-treeview> -->
  <div class="content-wrapper">
    <app-navigation Showtitle="工作量管理模块" Subtitle="流程节点授权" Web="站点"
    Module="工作量管理模块" Page="流程节点授权" ></app-navigation>
    <section class="content" id="content">
      <div class="row" style="_height:400px;min-height:400px;">
        <div class="col-md-12 jtyjy-one-panel">
          <div class="jtyjy-search-sample">
            <div class="well well-lg">
              <table>
                <colgroup>
                  <col width="50"/>
                  <col width="80"/>
                  <col width="150"/>
                  <col width="80"/>
                  <col width="150"/>
                  <col width="80"/>
                  <col width="150"/>
                  <col width="50"/>
                  <col width="50"/>
                </colgroup>
                <tr>
                  <td>
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" (click)="set()">设置</button>
                    </div>
                  </td>
                  <td style="text-align:right;"><label style="margin-bottom:0px;">部门：</label></td>
                  <td>
                    <div class="jtyjy-search-text" style="width:100%;">
                        <select class="form-control" [(ngModel)]="optsList.departmentId" (ngModelChange)="optsList.departmentId=$event;" name="departmentId">
                            <option value="">--请选择--</option>
                            <option [value]="c.id" *ngFor="let c of deptList">{{c.name}}</option>
                        </select>
                    </div>
                  </td>
                  <td style="text-align:right;"><label style="margin-bottom:0px;">角色：</label></td>
                  <td>
                    <div class="jtyjy-search-text">
                      <input type="text" [(ngModel)]="optsList.role" class="form-control ng-pristine ng-valid ng-touched" placeholder="角色...">
                    </div>
                  </td>
                  <td style="text-align:right;"><label style="margin-bottom:0px;">节点：</label></td>
                  <td>
                    <div class="jtyjy-search-text">
                      <input type="text" [(ngModel)]="optsList.node" class="form-control ng-pristine ng-valid ng-touched" placeholder="节点...">
                    </div>
                  </td>
                  <td title="搜索">
                      <button class="jtyjySearchbtn" (click)="refresh()">
                          <span>搜索</span>
                          <i class="fa fa-spinner fa-spin"></i>
                      </button>
                  </td>
                  <td title="重置">
                    <button class="jtyjySearchbtn" (click)="clearOpts()">
                      <span>重置</span>
                      <i class="fa fa-spinner fa-spin"></i>
                  </button>
                  </td>
                </tr>
              </table>
            </div>
            <!-- 表格 -->
            <!-- [itemFormatter]="itemFormatter" -->
            <!-- <div class="well well-lg"> -->
                <p-dataTable [value]="formDataList" [(selection)]="selected" [headerCheckboxToggleAllPages]="true" selectionMode="single">
                    <!-- <p-header>Checkbox Multiple Selection with Paging</p-header> -->
                    <p-column field="department.name" header="部门" [style]="{'width':'200px','text-align':'center'}"></p-column>
                    <p-column field="role.name" header="角色" [style]="{'width':'300px','text-align':'center'}"></p-column>
                    <p-column field="nodes" header="授权节点"[style]="{'text-align':'center'}"></p-column>
                </p-dataTable>
                <p-paginator rows="{{optsList.pageSize}}" totalRecords="{{total}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
            <!-- </div> -->
          </div>
        </div>
      </div>
      <p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>
      <jdsq-set #jdsqSet (jdsqSaveChange)="jdsqSaveSet()"></jdsq-set>
      <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
          <p-footer>
              <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
              <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
          </p-footer>
      </p-confirmDialog>
    </section>
  </div>
<!-- </div> -->

