<div class="modal fade" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">部门授权</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="yhglDeptHide()">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="ui-g">
          <div class="ui-g-12 boxCursor">
              <!-- [(ngDisabled)]="isDpet" -->
            <p-listbox [options]="deptList" [(ngModel)]="dept" multiple="multiple" checkbox="checkbox"
              [ngModelOptions]="{standalone: true}" filter="filter" [style]="{'width':'100%','height':'448px'}"
              (onChange)="clickCheck($event)">
              <!-- <ng-template let-node let-i="index" pTemplate="item">
                <span>{{i}} - {{node.name}}</span>
              </ng-template> -->
            </p-listbox>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="text-align:center;">
        <button type="button" class="btn btn-info" (click)="emitYhglDept($event)">保存</button>
        <button type="button" class="btn btn-default" (click)="yhglDeptHide()">关闭</button>
      </div>
    </div>
  </div>
</div>
<p-growl [style]="{'top': '60px','z-index': '2000'}" [(value)]="msgs"></p-growl>