    <div class="content-wrapper">
      <app-navigation Showtitle="工作量管理模块" Subtitle="工作量统计" Web="站点"
      Module="工作量管理模块" Page="工作量统计" ></app-navigation>
      <section class="content" id="content">
        <div class="row" style="_height:400px;min-height:400px;">
          <div class="col-md-12 jtyjy-one-panel">
            <div class="jtyjy-search-sample">
              <div class="well well-lg">
                <table>
                  <colgroup>
                    <col width="40"/>
                  </colgroup>
                  <tr>
                    <td>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" (click)="inquiry()">查询</button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <p-dataTable [value]="formData.dataPage.content" [(selection)]="selected" [headerCheckboxToggleAllPages]="true" 
              selectionMode="single" emptyMessage="暂无数据" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[5,10,20]">
                    <p-column field="ym" header="页码" [style]="{'text-align':'center'}" [hidden]="ishide==0?false:true"></p-column>
                    <p-column field="gzl" header="工作量" [style]="{'text-align':'center'}" [hidden]="ishide==0?false:true"></p-column>
                    <p-column field="id" header="{{x.name}}" *ngFor="let x of formData.headerList;let i = index;" [style]="{'text-align':'center'}">
                      <ng-template let-node="rowData" pTemplate="body" let-k="rowIndex">
                        <span>{{formData.dataPage.content[k][i]}}</span>
                      </ng-template>
                    </p-column>
                  </p-dataTable>
                  <!-- <p-paginator rows="{{pageSize}}" totalRecords="{{total}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator> -->
            </div>
          </div>
        </div>
        <tjgzl-cx #tjgzlCx (tzgzlCx)="tzgzlCxChange($event)"></tjgzl-cx>
        <!-- <p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl> -->
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
                <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>
      </section>
    </div>