    <div class="content-wrapper">
      <app-navigation Showtitle="工作量管理模块" Subtitle="流程节点维护" Web="站点"
      Module="工作量管理模块" Page="流程节点维护" ></app-navigation>
      <section class="content" id="content">
        <div class="row" style="_height:400px;min-height:400px;">
          <div class="col-md-12 jtyjy-one-panel">
            <div class="jtyjy-search-sample">
              <div class="well well-lg">
                <table>
                  <colgroup>
                    <col width="150"/>
                    <col width="80"/>
                    <col width="150"/>
                    <col width="80"/>
                    <col width="150"/>
                    <col width="50"/>
                    <col width="50"/>
                  </colgroup>
                  <tr>
                    <td>
                      <!-- <div class="btn-group">
                        <button type="button" class="btn btn-success dropdown-toggle" (click)="add()">新增</button>
                      </div>
                      <div class="btn-group">
                        <button type="button" class="btn btn-info dropdown-toggle" (click)="edit()">编辑</button>
                      </div> -->
                      <div class="btn-group" *ngFor="let item of btnFn" >
                        <button type="button" class="btn {{item.btn}} dropdown-toggle" (click)="clickFn(item.name)">{{item.name}}</button>
                      </div>
                    </td>
                    <td style="text-align:right;"><label style="margin-bottom:0px;">流程节点：</label></td>
                    <td>
                      <div class="jtyjy-search-text">
                        <input type="text" [(ngModel)]="name" class="form-control ng-pristine ng-valid ng-touched" placeholder="流程节点...">
                      </div>
                    </td>
                    <td style="text-align:right;"><label style="margin-bottom:0px;">状态：</label></td>
                    <td>
                      <div class="jtyjy-search-text" style="width:100%;">
                          <select class="form-control" [(ngModel)]="isLocked" name="isLocked">
                              <option value="">--请选择--</option>
                              <option value="0">启用</option>
                              <option value="1">禁用</option>
                          </select>
                      </div>
                    </td>
                    <td title="搜索">
                        <button class="jtyjySearchbtn" (click)="refresh()">
                            <span>搜索</span>
                            <i class="fa fa-spinner fa-spin"></i>
                        </button>
                    </td>
                    <td title="重置">
                      <button class="jtyjySearchbtn" (click)="clearOpts()">
                        <span>重置</span>
                        <i class="fa fa-spinner fa-spin"></i>
                    </button>
                    </td>
                  </tr>
                </table>
              </div>
                  <p-dataTable [value]="P['nodeList']" [(selection)]="selected" [headerCheckboxToggleAllPages]="true" selectionMode="single" emptyMessage="暂无数据">
                      <p-column field="number" header="编号" [style]="{'width':'80px','text-align':'center'}"></p-column>
                      <p-column field="name" header="流程节点" [style]="{'width':'150px','text-align':'center'}"></p-column>
                      <p-column field="isLockedName" header="状态" [style]="{'width':'150px','text-align':'center'}"></p-column>
                      <p-column field="statement" header="说明"[style]="{'text-align':'center'}"></p-column>
                  </p-dataTable>
                  <p-paginator rows="{{pageSize}}" totalRecords="{{total}}" [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator>
            </div>
          </div>
        </div>
        <jdwh-add #jdwhAdd (jdwhAddData)="jdwhAddChange()"></jdwh-add>
        <jdwh-bj #jdwhBj (jdwhBJData)="jdwhBJChange()"></jdwh-bj>
        <p-growl [style]="{'top': '60px'}" [(value)]="msgs"></p-growl>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
                <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>
      </section>
    </div>