<div class="content-wrapper">
    <app-navigation Showtitle="基础设置" Subtitle="系数维护" Web="工作量管理" Module="基础设置" Page="系数维护"></app-navigation>

    <section class="content" id="content">
        <p-growl [style]="{'top': '60px'}" [(value)]="msgs" [life]="3000"></p-growl>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
            <p-footer>
                <button type="button" pButton icon="fa-check" label="是" (click)="cd.accept()"></button>
                <button type="button" pButton icon="fa-close" label="否" (click)="cd.reject()"></button>
            </p-footer>
        </p-confirmDialog>
        <div class="button-content">
            <button *ngFor="let item of btnFn" type="button" class="btn {{item.btn}}" (click)="clickFn(item.name)">{{item.name}}</button>
        </div>
        <div style="_height:100%;min-height:100%;">
            <div class="tab">
                <span *ngFor="let list of ListFindType" [ngClass]="{ 'article': username == list.id }" (click)="ColToggler(list.id)">{{ list.text }}</span>
            </div>
            <div class="colSelect" [ngStyle]="{'display':username == '1' ? 'block' : 'none' }">
                <label>分类：</label>
                <p-dropdown [style]="{'width': '80px','text-align': 'center','margin-bottom': '20px'}" [options]="unitList" (onChange)="OnChange()"
                    [(ngModel)]="unit" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>

            <div class="tabClass">
                <div>
                    <span><b>序号</b></span>
                    <span><b *ngIf="username != '5'">科目</b><b *ngIf="username == '5'">年级</b></span><span><b>系数</b></span>
                </div>
                <ul>
                    <li *ngFor="let list of dataList; let i = index;">
                        <span>{{i+1}}</span>
                        <span>
                            <a *ngIf="list.a != ''">{{list.cname}}</a>
                            <select style="height: 30px;" *ngIf="list.a == ''" (change)="findex(list, $event.target.value)">
                                <option value="">-- 请选择 --</option>
                                <option *ngFor="let listText of findCourseList; let i = index;" value="{{listText.value}}">{{listText.label}}</option>
                            </select>
                        </span>
                        <span (dblclick)="ShowElement($event, list)">{{ list.ratio != null ? list.ratio : '双击填写' }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>